:root {
  --bg-color: #141313;
  --white: #ffffff;
  --custom-white: #d2d2d2;
  --custom-grey: #636363;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.cover {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: start;
}

.text {
  background: linear-gradient(to right,
      #0dcdfc 0%,
      #4f69dc 20%,
      #6f29f2 40%,
      #ff00ff 50%,
      #057ec5 60%,
      #014f97 80%,
      #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradient-text {
  background: url("./assets/gradient1.webp") no-repeat;
  background-position: 0 100%;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0;
}

.color-white {
  color: white;
}

.text-center {
  text-align: center;
}

.w-80 {
  width: 80%;
}

.mb-0 {
  margin-bottom: 0px;
}

.enquire-form {
  width: 60%;
  height: 50px;
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid var(--custom-grey);
}

.email-input {
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 20px;
  border: none;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: medium;
  color: var(--custom-white);
}

.enquire-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-sizing: border-box;
  border: none;
  font-weight: 600;
  font-size: medium;
  padding-right: 10px;
  padding-left: 10px;
}

.sub-text-primary {
  font-size: 25px;
  color: var(--custom-white);
}

.sub-text-secondary {
  font-size: 15px;
  color: var(--custom-white);
}

@media screen and (max-width:1025px) and (min-width:750px) {
  .gradient-text {
    font-size: 6rem;
  }


  .sub-text-primary {
    font-size: 20px;
  }

  .sub-text-secondary {
    font-size: 10px;
  }

  .enquire-form{
    width: 80%;
  }
}

@media screen and (max-width:750px) and (min-width:620px) {
  .gradient-text {
    font-size: 5rem;
  }

  .sub-text-primary {
    font-size: 18px;
  }

  .sub-text-secondary {
    font-size: 10px;
  }

  .enquire-form{
    width: 80%;
  }
}

@media screen and (max-width:620px) and (min-width:375px)  {
  .cover{
    padding: 20px;
  }

  .gradient-text {
    font-size: 3rem;
  }

  .sub-text-primary {
    font-size: 15px;
  }

  .sub-text-secondary {
    font-size: 8px;
  }

  .enquire-form{
    width: 90%;
  }

  .w-80{
    width: 90%;
  }

  .enquire-form{
    height: 40px;
  }

  .email-input{
    font-size: small;
  }

  .enquire-btn{
    font-size: small;
  }
}


@media screen and (max-width:375px)  {
  .cover{
    padding: 20px;
  }

  .gradient-text {
    font-size: 2.5rem;
  }

  .sub-text-primary {
    font-size: 12px;
  }

  .sub-text-secondary {
    font-size: 6px;
  }

  .enquire-form{
    width: 90%;
  }

  .w-80{
    width: 90%;
  }

  .enquire-form{
    height: 40px;
  }

  .email-input{
    font-size: small;
  }

  .enquire-btn{
    font-size: small;
  }
}